{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container px-5 my-5">
    
En nuestro blog, podrán acceder a guardar para luego encontrar información sobre Cantantes, Conciertos, Albums y Artículos.
<br>
<br>
En la cabecera de la página está la barra de navegacion con las siguientes opciones:
<br>
<br>
- Cantantes: donde encontrarán la informacion de los cantantes, pudiéndose agregar cantantes así como editar y borrar.
<br>
<br>
- Conciertos: donde encontrarán la informacion de los conciertos, pudiéndose agregar conciertos así como editar y borrar.
<br>
<br>  
- Albums: donde encontrarán la informacion de los conciertos, pudiéndose agregar albums así como editar y borrar. 
<br>
<br>   
- Artículos: donde encontrarán la informacion de los artículos, pudiéndose agregar artículos así como editar y borrar.
<br>
<br>   
- Formularios: donde encontrarán los formularios para ingresar las entidades anteriores, como forma adicional de agregar información al Blog. 
<br>
<br> 
- Busqueda: donde pueden realizar la búsqueda de cantante por nombre.
<br>
<br>   
<i><b>Este Blog está hecho POR y PARA VOS !!<i><b>

</div>

{% endblock %}
