<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conciertos</title>

    <ul>
        {% for concierto in object list %}

        <li>
            <p>Nombre: {{ concierto.nombre }}</p>
            <a href="{%url 'concierto_detalle' album.id%}"> Ver </a>
            <a href="{%url 'concierto_editar' album.id%}"> Editar </a>
            <a href="{%url 'concierto_confirm_delete'album.id%}"> Borrar </a>
        </li>
        {% end for %}
    </ul>

</head>